[Unit]
Description=A persistent key-value database
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/valkey/valkey.pid
ExecStart=/usr/sbin/valkey-server /etc/valkey/valkey.conf
User=valkey
Group=valkey

[Install]
WantedBy=multi-user.target
